.quiz{
  font-family: "avenir";
  color: black;
  font-size: 3000%;
  font-weight: bold;
  padding-left: 1%;
  white-space: nowrap;
  overflow: hidden;

}

.topicStyle{
  font-size: 1000%;
  color: #bf0d3e;
  background: white;
  font-weight: bold;
  padding: .5% 1.5% .5% 1.5%;
}

.questionStyle{
  font-size: 1000%;
  color: white;
  background: #041e42;
  min-height: 2%;
  display: block;
  vertical-align: bottom;
  font-style: italic;
  padding: 1.5%;
}

html{
  background: url(http://i.ytimg.com/vi/roTHJH3_URA/maxresdefault.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "avenir";
  color: black;
  font-size: 10%;
}

.face{
  float: left;
  height: auto;
  width: 20%;
  min-width: 100px;
  padding: 2.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#money{
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;

}

#quotes{
  background-position: bottom;
  display: inline-block;
}
